<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".doctor.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graduation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui_and_register.MoreProfileDoctorActivity"
            android:exported="false" />
        <activity android:name=".ui_and_register.AppointmentActivity" />

        <activity android:name=".ui_and_register.ChooseTypeActivity" />
        <activity android:name=".ui_and_register.CreateNewPassActivity" />
        <activity android:name=".ui_and_register.FirstExercise" />
        <activity android:name=".ui_and_register.SecondExercise" />
        <activity android:name=".ui_and_register.ThirdExercise" />
        <activity android:name=".ui_and_register.ForgetPassActivity" />
        <activity android:name=".ui_and_register.InfoDoctorActivity" />
        <activity android:name=".ui_and_register.LoginPage" />
        <activity android:name=".ui_and_register.PaymentActivity" />
        <activity android:name=".ui_and_register.PatientRegister" />
        <activity android:name=".ui_and_register.PhoneVerificationActivity" />
        <activity android:name=".ui_and_register.ProfileActivity" />
        <activity android:name=".ui_and_register.QuestionsActivity" />
        <activity android:name=".ui_and_register.Reservation" />
        <activity android:name=".ui_and_register.SignUpActivity" />
        <activity android:name=".ui_and_register.TrackMode" />
        <activity android:name=".ui_and_register.EmailVerificationActivity" />

        <activity android:name=".call.ui.MainActivity" />
        <activity android:name=".call.ui.CallActivity" />
        <activity android:name=".call.ui.LoginActivity" />
        <activity android:name=".call.ui.CloseActivity" />
        <activity
            android:name=".ui_and_register.Patient_HomeActivity"
            android:exported="true" />
        <activity
            android:name=".doctor.SignUpDoctorActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doctor.VerifyScannDataActivity" />
        <activity
            android:name=".doctor.LoginActivity"
            android:exported="true" />
        <activity android:name=".doctor.WelcomeActivity" />
        <activity android:name=".doctor.BottomNavigationBarActivity" />
        <activity android:name=".doctor.CreatNewPasswordActvity" />
        <activity android:name=".doctor.ForgetPasswordActivity" />
        <activity android:name=".doctor.UsernameAndPasswordActivity" />
        <activity android:name=".doctor.OTPActivity" />
        <activity android:name=".doctor.chat" />
        <activity android:name=".doctor.infoandnotes" />
        <activity android:name=".doctor.PhoneActivity" />
        <activity android:name=".doctor.ResetPassword" />
        <activity android:name=".doctor.wallet" />
    </application>

</manifest>